{% extends "parentTemplate.html" %}
{% load blogfilter %}
{% load highlighttemplate %}
{% block othernavitem %}
{% if simplesearchform %}
<form method="get" action="{% url 'simpleSearch' %}">
搜索:{{ simplesearchform.searchKeyword }}
<input type="submit" value="搜索">
<a href="{% url 'advanceSearch' %}">高级搜索</a>
</form>
{% endif %}
{% endblock %}
{% block content %}
{% if searchform %}
<form method="get" action="{% url 'advanceSearch' %}">
<p>包含以下关键字，以逗号分割：{{ searchform.includeKeyword }}</p>
{% for choice in searchform.includerange %}
<span>{{ choice }}</span>
{% endfor %}
<p>排除以下关键字，以逗号分割：{{ searchform.excludeKeyword }}</p>
{% for choice in searchform.excluderange %}
<span>{{ choice }}</span>
{% endfor %}
<p>从{{ searchform.startdate }}</p>
<p>到{{ searchform.enddate }}</p>
<input type="submit" value="搜索">
</form>
{% endif %}
<div class="content-wrap">
共搜索到{{ resultcount }}条记录
{% for blog in searchResult %}
    <div>
        <h3><a href="{% url 'blogs:content' blog.id %}">
            {{ blog.title }}
        </a></h3>
        {% for highresult in blog.highlight %}
            {% highlightresult highresult font "<b>" %}
        {% endfor %}
    </div>
{% endfor %}
{% if searchResult.has_previous %}
    {% if searchRange %}
	    <a href="?searchKeyword={{ searchKeyword }}&amp;page={{ searchResult.previous_page_number }}&amp;{{ searchRange }}">前一页</a>
	{% else %}
	    <a href="?searchKeyword={{ searchKeyword }}&amp;page={{ searchResult.previous_page_number }}">前一页</a>
	{% endif %}
{% endif %}
第{{ searchResult.number }}页
{% if searchResult.has_next %}
    {% if searchRange %}
        <a href="?searchKeyword={{ searchKeyword }}&amp;page={{ searchResult.next_page_number }}&amp;{{ searchRange }}">下一页</a>
    {% else %}
	    <a href="?searchKeyword={{ searchKeyword }}&amp;page={{ searchResult.next_page_number }}">下一页</a>
	{% endif %}
{% endif %}

</div>
{% endblock %}
