{% extends "parentTemplate.html" %}
{% load blogfilter %}
{% block othernavitem %}
<form method="get" action="{% url 'blogSearch' %}">
搜索:{{ searchform.searchKeyword }}
{% for choice in searchform.searchrange %}
<span>{{ choice }}</span>
{% endfor %}
<input type="submit" value="搜索">
</form>
{% endblock %}
{% block content %}
<div class="content-wrap">
<b>{{ correct.corrected }}</b>
{% for blog in searchResult %}
    <div>
        <h3><a href="{% url 'blogs:content' blog.id %}">
            {{ blog.title }}
            
        </a></h3>
        {% for highresult in blog.highlight %}
            {{ highresult.User_username|script|safe }}
            {{ highresult.content|script|safe }}
        {% endfor %}
        
    </div>
{% endfor %}

</div>
{% endblock %}
